/removed
/gan/plots/
/data/bispec/
/data/xyz/24_azobenzene/test 
/data/xyz/24_azobenzene/train 
/data/xyz/24_azobenzene/val 
/data/xyz/24_azobenzene/rmd17_azobenzene.xyz
/data/xyz/24_azobenzene/rmd17_azobenzene.npz
/data/xyz/21_aspirin/test
/data/xyz/21_aspirin/train
/data/xyz/21_aspirin/val
/data/xyz/21_aspirin/rmd17_aspirin.xyz
/data/xyz/21_aspirin/rmd17_aspirin.npz
/data/xyz/20_paracetamol/test
/data/xyz/20_paracetamol/train
/data/xyz/20_paracetamol/val
/data/xyz/20_paracetamol/rmd17_paracetamol.xyz
/data/xyz/20_paracetamol/rmd17_paracetamol.npz
/data/xyz/18_naphthalene/test
/data/xyz/18_naphthalene/train
/data/xyz/18_naphthalene/val
/data/xyz/18_naphthalene/rmd17_naphthalene.xyz
/data/xyz/18_naphthalene/rmd17_naphthalene.npz
/data/xyz/16_salicylic_acid/test
/data/xyz/16_salicylic_acid/train
/data/xyz/16_salicylic_acid/val
/data/xyz/16_salicylic_acid/rmd17_salicylic.xyz
/data/xyz/16_salicylic_acid/rmd17_salicylic.npz
/data/xyz/15_toluene/test
/data/xyz/15_toluene/train
/data/xyz/15_toluene/val
/data/xyz/15_toluene/rmd17_toluene.xyz
/data/xyz/15_toluene/rmd17_toluene.npz
/data/xyz/12_uracil/test
/data/xyz/12_uracil/train
/data/xyz/12_uracil/val
/data/xyz/12_uracil/rmd17_uracil.xyz
/data/xyz/12_uracil/rmd17_uracil.npz
/data/xyz/12_benzene/test
/data/xyz/12_benzene/train
/data/xyz/12_benzene/val
/data/xyz/12_benzene/rmd17_benzene.xyz
/data/xyz/12_benzene/rmd17_benzene.npz
/data/xyz/9_malonaldehyde/test
/data/xyz/9_malonaldehyde/train
/data/xyz/9_malonaldehyde/val
/data/xyz/9_malonaldehyde/rmd17_malonaldehyde.xyz
/data/xyz/9_malonaldehyde/rmd17_malonaldehyde.npz
/data/xyz/9_ethanol/test
/data/xyz/9_ethanol/train
/data/xyz/9_ethanol/val
/data/xyz/9_ethanol/rmd17_ethanol.xyz
/data/xyz/9_ethanol/rmd17_ethanol.npz
